<meta http-equiv="refresh" content="{{ refresh_interval_secs }}">
{{ style_html|safe }}
<section class="thread" data-slug="{{ slug }}">
{% if stale %}
<p class="stale-notice">Checking for new comments&hellip;</p>
{% endif %}
{{ root_html|safe }}
{% if show_email_link %}
<p class="email-hint"><a href="mailto:{{ mailto_address }}?subject={{ mailto_subject|urlencode }}">Comment by email</a></p>
{% endif %}
{% if allow_relay %}
<p class="latency-notice">Submitted comments can take a few minutes to appear here.</p>
{% endif %}
</section>
